*{
    margin: 0px;
    padding: 0px;
}
.header{
    width: 100%;
    height: 80px;
    background-color: white !important;
}
.width-01{
    width: 50%;
    float: left;
}
.width-02{
    width: 50%;
    float: left;    
}
wd-2 ul{
    padding-top: 25px;
    padding-left: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}
wd-2 ul li a{
    color: #000;
    text-decoration-style: none;
}

nav ul{
    padding-top: 28px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style-type: none;
}
nav ul li a{
    color: #000;
    text-decoration: none;
}
.navbar{    
    background: rgb(238, 236, 236);
    width: 100%;
    height: 60px;
}
.list-nav{
    width: 70%;
}
navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration-style: none;
    list-style-type: none;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
.vd-write{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vd-write video{
    position: absolute;
    top: 10;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.vd-write .content{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.content{
    color: white !important;
}
.vd-write .content h1{
    font-size: 75px;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Noto Sans', sans-serif; */
}
font{
    font-size: 75px;
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 25px;
}
Pg{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}
form button{
    background: white;
    font-size: 25px;
    font-family: Roboto;
}
.page-2{
    width: 100%;
    height: 1000px;
    background: white;
}
.container-0{
    width: 1000px;
    margin: 0px auto;
    padding-top: 350px;
}
.box-01{
    padding: 60px;
    padding-left: 10px;
    background:  white;
    border: 1px solid white;
    box-shadow: 1px 1px 4px 3px rgb(236, 231, 231);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.box-01 h1{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
.box-01 .readmore{
    font-size: 25px;
    padding-top: 50px;
    font-weight: bold;
    color: rgba(8, 8, 243, 0.74);
}
.page-3{
    background: url(nature.jpg);
    width: 100%;
    height: 1082px
}
.box-heading{
    width: 30%;
    height: 30px;
    font-size: 30px;
    color: blue;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    padding-left: 1000px;
    padding-top: 650px;
    /* justify-content: center; */
    /* align-items: center; */
}
.Pg-3_second{
    background-color: white;
    color: black;
    width: 100%;
    padding-top: 300px;
    height: 300px;
}
.Pg-3_second .Pg-4_heading h1{
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.Pg-3_second .Pg-4_heading p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.Page-4{
    background-color: white;
    color: black;
    width: 100%;
}
.container-2{
    width: 1250px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.third img{
    width: 250px;
}
.container-2 .first{
    width: 20%;
    font-family: 'Roboto', sans-serif;
}
.container-2 .second{
    width: 20%;
    font-family: 'Roboto', sans-serif;
    padding-top: 100px;
}
.container-2 .third{
    width: 20%;
    padding-top: 200px;
    font-family: 'Roboto', sans-serif;
}
.container-2 .fourth{
    width: 20%;
    padding-top: 300px;
    font-family: 'Roboto', sans-serif;
}

.footer{
    background: black;
    width: 100%;
    height: 400px;
    color: white;
    margin-top: 50px;
}
.container-1{
    width: 1200px;
    margin:0px auto;
}
.footer .container-1 p{
    padding-top: 20px;
}
.img{   
    width: 5%;
    height: 10px;
}
.list-01{
    width: 80%;
}
.list-01 footer-li{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.list-01 footer-li a{
    color: white;
    padding-top: 10px;
    list-style-type: none;
    text-decoration-line: none;
}
.list-02 ft{
    width: 60%;
}
ft{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ft a{
    padding-top: 30px;
    color: white;
}
.list-02 last{
    padding-left: 935px;
}